#{set 'sidebar'}
	<h5>IVR</h5>
  	<ul>
    	<li><a href="action">Action</a></li>
    	<li><a href="callflow">Call flow</a></li>
    	<li><a href="callroute">Call route</a></li>
    	<li><a href="channel">Channel</a></li>
    	<li><a href="command">Command</a></li>
    	<li><a href="dtmf">DTMF</a></li>
    	<li><a href="pabx">PABX</a></li>
    	<li><a href="protocol">Protocol</a></li>
    	<li><a href="schedule">Schedule</a></li>
    	<li><a href="voieprompt">Voice prompt</a></li>
  	</ul>
#{/set}