html {
	height: 100%;
}

body {
	margin: 0;
	padding: 0;
	background: #ebebeb;
	font: normal 12px "Lucida Sans Unicode", "Lucida Grande", Geneva,
		Verdana, Arial, sans-serif;
	height: 100%;
}

a {
	outline: none;
	text-decoration: none;
	color: #333;
}

a:hover {
	text-decoration: none;
}

header { /* for non-css3 browsers */
	background: #fff;
	background: -webkit-gradient(linear, left top, left bottom, from(#7a7a7a),
		to(#ebebeb) );
	background: -moz-linear-gradient(top, #7a7a7a, #ebebeb);
	padding: 15px 0px;
}

.box {
	-webkit-border-radius: 0.5em;
	-moz-border-radius: 0.5em;
	border: solid 1px #CDCDCD;
}

.box ul {
	list-style: none;
	margin: 0;
	padding: 0;
}

.box ul li {
	padding: 0.3em 0em 0.3em 0em;
}

.title-bar {
	border-top-left-radius: 0.5em 0.5em;
	border-top-right-radius: 0.5em 0.5em;
	padding: 0.5em 1em;
	color: white;
	/* for non-css3 browsers */
	background-color: #224272;
	/* for webkit */
	background: -webkit-gradient(linear, left top, left bottom, from(#5C6F8D),
		to(#224272) );
	/* for moz */
	background: -moz-linear-gradient(top, #5C6F8D, #224272);
	font-weight: bold;
}

.box-content {
	padding: 0.5em 1em;
	background-color: #F3F2F2;
}

.bottom-corners {
	border-bottom-left-radius: 0.5em 0.5em;
	border-bottom-right-radius: 0.5em 0.5em;
	padding: 0.4em 0em 0em 0em;
	/* for non-css3 browsers */
	background-color: #EBEBEB;
	/* background: -webkit-gradient(linear, left top, left bottom, from(#F3F2F2),
		to(#B4B4B5) );  */
}

footer {
	color: #999999;	
}