#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'sidebar'}
			<h5>ACD</h5>
              <ul>
                <li><a href="condition">Condition</a></li>
                <li><a href="route">Route</a></li>
              </ul>
#{/set}

#{set 'navigation'}
					  <li><a href="/">Home</a><span class="divider">/</span></li>
                      <li><a href="index">ACD</a><span class="divider">/</span></li>
                      <li class="active">Condition</li>
#{/set}

<h1>Welcome To ACD Condition</h1>