#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
	<!--// script src="@{'/public/javascripts/acd.js'}" type="text/javascript" charset="${_response_encoding}"></script //-->
	<script type="text/javascript" charset="${_response_encoding}">
		$(function(){
			// Table sorter
			$("table#acd-condition").tablesorter({ sortList: [[0,0], [1,0]], headers: { 2:{sorter: false}, 4:{sorter: false}, 5:{sorter: false}} });
			// Modal panel
			$("#modal-from-dom").modal({
				keyboard: true
			});
		});

		acd = {
			funcDelete : function(cond_id) {
				$('#delete_id').val(cond_id);
				$('#acdForm').submit();
			},
			funcEdit : function(cond_id) {
				var editCond = #{jsAction @AutoCallDistributors.editCond(':edit_id') /}
				$.post(editCond({edit_id: cond_id}), function(cond){
					if (cond) {
						$('#condition_id')).val(cond.condition_id);
						$('#condition_name')).val(cond.condition_name);
						$('#condition_description')).val(cond.condition_description);
						// Popup modal panel
						$('#modal-from-dom').modal('toggle')
					} else {
						alert("Nothing is returned.");
					}
				});
			}
		};
	</script>
#{/set}

#{include 'autocalldistributors/nav.html'/}

#{set 'navigation'}
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="index">ACD</a><span class="divider">/</span></li>
  <li class="active">Condition</li>
#{/set}

<table id="acd-condition" class="zebra-striped">
  <thead>
  	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Last update</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
  </thead>
  <tbody>
  	#{list items:conditions, as:'cond'}
		<tr>
			<td>${cond.condition_id}</td>
			<td>${cond.condition_name}</td>
			<td>${cond.condition_description}</td>
			<td>${cond.condition_update_date}</td>
			<td><button id="cmd-delete" class="btn danger" onclick="acd.funcDelete('${cond.condition_id}')">Delete</button></td>
			<td><button id="cmd-edit" class="btn" onclick="acd.funcEdit('${cond.condition_id}')">Edit</button></td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="6">No data found</td>
		</tr>
	#{/else}
  </tbody>
  <tfoot>
  	<tr>
  		<td colspan="6"><button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Create New</button></td>
  	</tr>
  </tfoot>
</table>

#{form @AutoCallDistributors.deleteCond(), method:'POST', id:'acdForm'}
	<input type="hidden" name="delete_id" />
#{/form}

<!-- sample modal content -->
<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>ACD Condition</h3>
	</div>
	<div class="modal-body">
	  
		#{form @AutoCallDistributors.saveCond(), method:'POST', id:'conditionForm' }

			<div class="clearfix">
            	<label for="cond.condition_name">Name</label>
	            <div class="input">
	            	<input class="xlarge" name="condition_name" size="30" type="text" />
	            </div>
	        </div>
	        <div class="clearfix">
	            <label for="cond.condition_descriptio">Description</label>
	            <div class="input">
	            	<textarea class="xlarge" name="condition_description" rows="3"></textarea>
	            </div>
	        </div>
	        <input type="hidden" name="condition_id" />
      	#{/form}
	  
	</div>
	<div class="modal-footer">
	  	<a href="#" class="btn primary" onclick="$('#conditionForm').submit()">Create</a>
	  	<a href="#" class="btn secondary" onclick="$('#modal-from-dom').modal('hide')">Cancel</a>
	</div>
</div>
