#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
	<script type="text/javascript" charset="${_response_encoding}">
		<!--
		// EL generate JS function for remote method on controller.
		var editCond = #{jsAction @AutoCallDistributors.editCond(':edit_id') /};
		
		// On-loader page
		$(function(){
			// Table sorter
			$("table#acd-condition").tablesorter({ 
				sortList: [[0,0], [1,0]], 
				headers: { 2:{sorter: false}, 4:{sorter: false}, 5:{sorter: false}} 
			});
			// Modal save/edit panel
			$("#modal-from-dom").modal({
				keyboard: true,
				backdrop: "static"
			});
			
			// Modal delete panel
			$("#modal-from-delete").modal({
				keyboard: true,
				backdrop: "static"
			});
		});
		-->
	</script>
	<script src="@{'/public/javascripts/acd.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{include 'autocalldistributors/nav.html'/}

#{set 'navigation'}
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="index">ACD</a><span class="divider">/</span></li>
  <li class="active">Condition</li>
#{/set}

<table id="acd-condition" class="zebra-striped">
  <thead>
  	<tr>
		<th>ID</th>
		<th>Name</th>
		<th>Description</th>
		<th>Last update</th>
		<th>Delete</th>
		<th>Edit</th>
	</tr>
  </thead>
  <tbody>
  	#{list items:conditions, as:'cond'}
		<tr>
			<td>${cond.condition_id}</td>
			<td>${cond.condition_name}</td>
			<td>${cond.condition_description}</td>
			<td>${cond.condition_update_date}</td>
			<td><button id="cmd-delete" class="btn danger" onclick="ria.condDelete('${cond.condition_id}')">Delete</button></td>
			<td><button id="cmd-edit" class="btn" onclick="ria.condEdit('${cond.condition_id}')">Edit</button></td>
		</tr>
	#{/list}
	#{else}
		<tr>
			<td colspan="6">No data found</td>
		</tr>
	#{/else}
  </tbody>
  <tfoot>
  	<tr>
  		<td colspan="6"><button data-controls-modal="modal-from-dom" data-backdrop="true" data-keyboard="true" class="btn primary">Create New</button></td>
  	</tr>
  </tfoot>
</table>

<!-- sample modal content -->
<div id="modal-from-dom" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>ACD Condition</h3>
	</div>
	<div class="modal-body">
	  
		#{form @AutoCallDistributors.saveCond(), method:'POST', id:'conditionForm' }

			<div class="clearfix">
            	<label for="condition_name">Name</label>
	            <div class="input">
	            	<input class="xlarge" id="condition_name" name="condition_name" size="30" type="text" />
	            </div>
	        </div>
	        <div class="clearfix">
	            <label for="condition_description">Description</label>
	            <div class="input">
	            	<textarea class="xlarge" id="condition_description" name="condition_description" rows="3"></textarea>
	            </div>
	        </div>

	        <input type="hidden" id="condition_id" name="condition_id" />

      	#{/form}
	  
	</div>

	<div class="modal-footer">
	  	<a href="#" class="btn primary" onclick="$('#conditionForm').submit()">Create</a>
	  	<a href="#" class="btn secondary" onclick="$('#modal-from-dom').modal('hide')">Cancel</a>
	</div>

</div>

<!-- sample modal content -->
<div id="modal-from-delete" class="modal hide fade">
	<div class="modal-header">
		<a href="#" class="close">&times;</a>
		<h3>ACD Condition</h3>
	</div>
	<div class="modal-body">
	  
		#{form @AutoCallDistributors.deleteCond(), method:'POST', id:'deleteForm'}
	  		<p>Do you want to delete this entity?</p>      
	        <input type="hidden" id="delete_id" name="delete_id" />
      	#{/form}
	  
	</div>

	<div class="modal-footer">
	  	<a href="#" class="btn danger" onclick="$('#deleteForm').submit()">Delete</a>
	  	<a href="#" class="btn secondary" onclick="$('#modal-from-delete').modal('hide')">Cancel</a>
	</div>
	
</div>
