<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
				xmlns:context="http://www.springframework.org/schema/context" 
				xmlns:aop="http://www.springframework.org/schema/aop"
				xmlns:util="http://www.springframework.org/schema/util"
				xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
				xsi:schemaLocation="http://www.springframework.org/schema/integration/security http://www.springframework.org/schema/integration/security/spring-integration-security-2.0.xsd
																http://www.springframework.org/schema/aop http://www.springframework.org/schema/aop/spring-aop-3.0.xsd
																http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
																http://www.springframework.org/schema/util http://www.springframework.org/schema/util/spring-util.xsd
																http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">
	
	<bean id="iCallCenterClient" class="com.itap.rest.client.ICallCenterClient">
		<constructor-arg ref="restTemplate"/>
		<constructor-arg ref="credentials"/>
		<constructor-arg ref="uriRemote"/>
	</bean>
	
	<bean id="uriRemote" class="com.itap.rest.client.UriRemote">
		<property name="uriAuth" value="http://localhost:8080/callcenter/service/auth/{usrname}/{passwd}"/>
		<property name="uriCheck" value="http://localhost:8080/callcenter/service/check"/>
		<property name="uriCallback" value="http://localhost:8080/callcenter/service/callback"/>
	</bean>
				
	<bean id="httpClientParams" class="org.apache.commons.httpclient.params.HttpClientParams">
        <property name="authenticationPreemptive" value="false"/>
        <property name="connectionManagerClass" value="org.apache.commons.httpclient.MultiThreadedHttpConnectionManager"/>
    </bean>
    
    <bean id="httpClient" class="org.apache.commons.httpclient.HttpClient">
        <constructor-arg ref="httpClientParams"/>
    </bean>
    
    <bean id="credentials" class="org.apache.commons.httpclient.UsernamePasswordCredentials">
        <constructor-arg value="username"/>
        <constructor-arg value="password"/>
    </bean>
    
    <bean id="httpClientFactory" class="org.springframework.http.client.CommonsClientHttpRequestFactory">
        <constructor-arg ref="httpClient"/>
    </bean>
 
    <bean id="restTemplate" class="org.springframework.web.client.RestTemplate">
        <constructor-arg ref="httpClientFactory"/>
        <property name="messageConverters">
            <list>
                <bean class="org.springframework.http.converter.xml.MarshallingHttpMessageConverter">
                    <property name="marshaller" ref="jaxbMarshaller"/>
                    <property name="unmarshaller" ref="jaxbMarshaller"/>
                </bean>
                <bean class="org.springframework.http.converter.FormHttpMessageConverter"/>
            </list>
        </property>
    </bean>
 
    <bean id="jaxbMarshaller" class="org.springframework.oxm.jaxb.Jaxb2Marshaller">
        <property name="classesToBeBound">
            <list>
                <value>com.itap.rest.client.bean.XmlIvrResponse</value>
                <value>com.itap.rest.client.bean.XmlIvrRequest</value>
                <value>com.itap.rest.client.bean.XmlIvrParams</value>
                <value>com.itap.rest.client.bean.XmlIvrParam</value>
                <value>com.itap.rest.client.bean.XmlIvrStatus</value>
            </list>
        </property>
    </bean>
    
</beans>				