<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE log4j:configuration SYSTEM "log4j.dtd">

<log4j:configuration xmlns:log4j="http://jakarta.apache.org/log4j/">

	<!-- Appenders -->
	<appender name="SYSTEM" class="org.apache.log4j.DailyRollingFileAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Threshold" value="INFO" />
		<param name="File" value="${catalina.base}/logs/callcenter.log" />
		<param name="Append" value="true" />
		<param name="DatePattern" value=".yyyy-MM-dd" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yyyy HH\:mm\:ss.SSS}] %-5p [%c.%M(),%4L] - %m%n" />
		</layout>
	</appender>

	<appender name="CONSOLE" class="org.apache.log4j.ConsoleAppender">
		<errorHandler class="org.apache.log4j.helpers.OnlyOnceErrorHandler" />
		<param name="Target" value="System.out" />
		<layout class="org.apache.log4j.PatternLayout">
			<param name="ConversionPattern"
				value="[%d{dd/MM/yyyy HH\:mm\:ss.SSS}] %-5p [%c.%M(),%4L] - %m%n" />
		</layout>
	</appender>

	<logger name="com.itap.callcenter">
		<level value="DEBUG" />
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.web">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.beans">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.security">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.mchange.v2.log">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="com.mchange.v2.c3p0">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<logger name="org.springframework.orm.jpa">
		<level value="INFO"/>
		<appender-ref ref="SYSTEM" />
		<appender-ref ref="CONSOLE" />
	</logger>
	
	<!-- Root Logger -->
	<root>
		<priority value="INFO" />
	</root>

</log4j:configuration>