#{extends 'main.html' /}
#{set title:'Home' /}

#{set 'moreScripts'}
	<script type="text/javascript" charset="${_response_encoding}">
		<!--

		-->
	</script>
	<script src="@{'/public/javascripts/knowledge.js'}" type="text/javascript" charset="${_response_encoding}"></script>
#{/set}

#{include 'knowledge/nav.html'/}

#{set 'navigation'}
  <li><a href="/">Home</a><span class="divider">/</span></li>
  <li><a href="index">Knowledge</a><span class="divider">/</span></li>
  <li class="active">Category</li>
#{/set}

<h1>Welcome To Knowledge Category.</h1>